<div class="fullCheckoutPage">
  <div class="checkoutMain">
    <div class="headerCeckout">
      Home > Cart >
      <p class="lightgrey">Checkout</p>
    </div>

    <div class="mainTitle">
      <h1>Cart</h1>
    </div>

    <p>{{ cartItems.length }} items</p>

    <div class="cart-container">
      <table class="cart-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ci of cartItems">
            <!-- <hr> -->

            <td>
              <div class="product-info">
                <img src="{{ ci.image }}" alt="Hand Cream - Beautified" />
                <div>
                  <p>{{ ci.name }}</p>
                  <p>#402132</p>
                </div>
              </div>
            </td>

            <td>
              <div class="quantity-controls">
                <button>-</button>
                <span>{{ ci.quantity }}</span>
                <button (click)="addToCart(ci)">+</button>
              </div>
            </td>
            <td>${{ ci.price }}</td>
            <td><button class="remove-btn">x</button></td>
          </tr>
        </tbody>
      </table>

      <div class="cart-summary">
        <div class="coupon">
          <label for="coupon-code">Coupon code:</label>
          <input type="text" id="coupon-code" value="freeshipping" />
        </div>
        <div class="totals">
          <p>Subtotal: $84.96</p>
          <p>Shipping: $0.00</p>
          <h2>Total: $84.96</h2>
        </div>
      </div>
      <div class="cart-actions">
        <button class="continue-shopping">Continue Shopping</button>
      </div>
    </div>
  </div>
  <div class="payment-container">
    <h1>Payment Details</h1>
    <p>Follow the steps below to complete the checkout process.</p>

    <form>
      <div class="checkout-step">
        <input type="radio" id="guest-checkout" name="checkout-step" checked />
        <label for="guest-checkout">Guest Checkout</label>
      </div>
      <div class="checkout-step">
        <input type="radio" id="shipping-info" name="checkout-step" />
        <label for="shipping-info">Shipping Information</label>
      </div>
      <div class="checkout-step">
        <input type="radio" id="payment-method" name="checkout-step" />
        <label for="payment-method">Payment method</label>
      </div>

      <div class="payment-options">
        <input type="radio" id="paypal" name="payment" checked />
        <label for="paypal"><img src="../../../assets/paypal.png" alt="PayPal" /></label>

        <input type="radio" id="credit-card" name="payment" />
        <label for="credit-card"
          >
          <img src="../../../assets/visa.png" alt="Credit Card"/>
          <img src="../../../assets/shopping.png" alt="Credit Card"/>
        </label>
      </div>

      <div class="payment-details">
        <div class="input-group">
          <label for="name-on-card">Name on Card</label>
          <input class="text-inp" type="text" id="name-on-card" value="Adrian Kul" />
        </div>
        <div class="input-group">
          <label for="card-number">Card Number</label>
          <input class="text-inp" type="text" id="card-number" value="2141 1253 9531 2131" />
        </div>
        <div class="input-group">
          <label for="expiration-date">Expiration date</label>
          <div class="expiration-date">
            <input class="text-inp" type="text" id="expiration-month" value="07" />
            <input class="text-inp" type="text" id="expiration-year" value="24" />
          </div>
        </div>
        <div class="input-group">
          <label for="cvc">CVC</label>
          <input class="text-inp" type="text" id="cvc" value="213" />
        </div>
      </div>

      <button type="submit" class="pay-button">Pay $84.96</button>
    </form>
  </div>
</div>
