<div>
  <div *ngFor='let p of sampleProducts'>
    <p>{{p.name}}</p>
    <p>{{p.price}}</p>
    <p>{{p.description}}</p>

    <button (click)="addToCart(p)">Add to cart</button>
  </div>

  <button (click)="navigateToCheckout()">cart</button>


  <!-- <app-checkout [cartItems]="cartItems"></app-checkout> -->


  <div class="fullCheckoutPage">

    <div class="checkoutMain">
      <div class="headerCeckout">
        Home > Cart > <p class="lightgrey">
    
          Checkout
        </p> 
      </div>
    
      <div class="mainTitle">
        <h1>Cart</h1>
      </div>
  
      <p>{{cartItems.length}} items</p>
    
      <table>
    
        <tr>
          <th>Product </th>
          <th>Quantity </th>
          <th>Total Price </th>
        </tr>
    
        <tr *ngFor="let ci of cartItems">
          <!-- <hr> -->

          
            <td>
  
            <div class="eachItem">
  
              <img src="../favicon.ico" alt="">
              <div>
                <td>{{ci.name}}</td>
                
                <td>{{ci.description}}</td>
              </div>
            </div>
            </td>
            <td>test qty</td>
            <td>{{ci.price}}</td>

        </tr>
        
    
      </table>
    
      <div class="couponSection">
        
      <div class="couponcode">coupon code:</div>
      <div class="couponcode">free shipping:</div>
    
      </div>
      <p class="lightgrey">    {{cartItems.length}} items
      </p>
    
    
    
    </div>

    <div class="checkoutPayment">

      <h1>Payment Details</h1>
      <p>Follow the steps to complete the process</p>

      <div class="paymentToggleSection">
        <input type="checkbox">
        <p>guest checkout</p>
        <button class="togglrBtn"></button>
      </div>

      <div class="paymentToggleSection">
        <input type="checkbox">
        <p>guest checkout</p>
        <button class="togglrBtn"></button>
      </div>




    </div>
  </div>


</div>